body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:#ADD8E6;
    max-height: 100vh;
    margin: 0;
}

h1{
    font-family: U8, sans-serif;
    font-size: 1.5rem;
    color: #083e9e;
    text-align: center;
    font-weight: 700;
    margin: 0;
}

p{
    font-size: .875rem;
    color: #4a5568;
    text-align: center;
    margin: 0;
}

button, input{
    overflow: hidden;
}

a{
    text-decoration: none;
    color:white;
}

.vectorsImg{
    /* padding-top: 3rem;
    padding-bottom: 5rem; */
    background-image: url("images/O.png"),
                      url("images/t.png"),
                      url("images/t2.png"),
                      url("images/l.png");
    background-position: left -1% top -15%, right -7.5% top -1%, left -5% bottom -10%, right -5% bottom -5%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 15%, 15%, 15%, 15%;
    max-height: 100vh;
    overflow: auto;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    margin-bottom: 3rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form{
    max-width: 25rem;
    background: white;
    border-radius: 1.2rem 1.2rem 1.2rem 0px;
    text-align: center;
    box-sizing: inherit;
    width: 91.666667%;
    padding: 2.5rem 2.5rem 3rem 2.5rem; 
}

#form-header{
    margin-bottom: 2rem;
}

.form-field{
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    margin-bottom: 2rem;
}

.form-field .label{
    font-size: .75rem;
    color: #4a5568;
    margin-bottom: .25rem;
    line-height: 2;
    font-weight: 700;
}

.form-field .input{
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #edf2f7;
    border: 0;
    border-radius: .25rem;
    color: #1a202c;
}

.form-field select{
    border: medium none;
    background: rgb(237, 242, 247) none repeat scroll 0% 0%;
    padding: 1rem;
    border-radius: .5rem;
}

.btn{
    background: #083e9e 0 none;
    font-size: .875rem;
    width: 100%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-weight: 700;
    color: white;
    border: 0;
    border-radius: .75rem .75rem .75rem 0rem;
    cursor: pointer;
}

.btn:hover{
    background: #062863 0 none;
    font-size: .875rem;
    width: 100%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-weight: 700;
    color: white;
    border: 0;
    border-radius: .75rem .75rem .75rem 0rem;
    cursor: pointer;
}

#login{
    margin: 2rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-weight: 400;
    text-decoration: none;
    color: white;
}